<table class="table table-hover">
  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <th>Is Admin</th>
    <td><%= @user.is_admin ? "Yes" : "No" %></td>
  </tr>

  <tr>
    <th>Is Trainer</th>
    <td><%= @user.is_trainer ? "Yes" : "No" %></td>
  </tr>
</table>

<hr>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
