
<%= bootstrap_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title %>
    <%= f.text_field :trainer %>
    <%= f.date_select :date %>
    <%= f.check_box :is_solution_published do %>
    Publish Solution?
    <% end %>
    <%= f.check_box :is_closed do %>
    Closed?
    <% end %>

    <%= f.submit class: "btn btn-success" %>

<% end %>
