<p id="notice"><%= notice %></p>

<h1>
  Event: <%=  @event.title %>
</h1>

<table class="table table-hover">
  <tr>
  <th>Trainer:</th>
    <td>
  <%= @event.trainer %>
    </td>
  </tr>

  <tr>
  <th>Date:</th>
    <td>
  <%= @event.date %>
    </td>
  </tr>
</table>

<hr>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
