<%
url = "/events/#{params[:id]}/answers/#{params[:answer_id]}"
%>

<%= bootstrap_form_for(@answer, url: url) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :event_id %>: <%= params[:id] %> <br>
    <%= f.text_area :text, size: "10x15"%>
    <%= f.text_field :trainee %>
    <%# f.text_field :score %>
    <%= f.submit class: "btn btn-success"%>
<% end %>

