<p id="notice"><%= notice %></p>

<h1>Listing Answers
  <%= link_to  new_event_answers_path(params[:id]) do %>
    <span class="glyphicon glyphicon-plus small"></span>
  <% end %>

  <%= link_to "/events" do %>
    <span class="glyphicon glyphicon-backward small"></span>
  <% end %>

</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Text</th>
      <th>Trainee</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <% if answer %>
        <tr>
          <td><%= answer.text %></td>
          <td><%= answer.trainee %></td>
          <td><span class="badge large"><%= (answer.score * 100).round %></span></td>
          <td><%= link_to  "/events/#{params[:id]}/answers/#{answer.id}" do %>
              <span class="glyphicon glyphicon-zoom-in"></span>
              <% end %>
              </td>
          <td><%= link_to "/events/#{params[:id]}/answers/#{answer.id}/edit" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
              </td>
          <td><%= link_to "/events/#{params[:id]}/answers/#{answer.id}", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove text-danger"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>




