<p id="notice"><%= notice %></p>

<%
   solution_text = @answer.event.solution.text
   answer_text = @answer.text
 %>

<p>
  <strong>Answer Text:</strong>
  <%= answer_text %>
</p>

<p>
  <strong>Solution Text:</strong>
  <%= solution_text %>
</p>

<p>
  <strong>Diff:</strong>
  <%= Diffy::Diff.new(solution_text, answer_text).to_s(:html).html_safe %>
</p>

<p>
  <strong>Trainee:</strong>
  <%= @answer.trainee %>
</p>

<p>
  <strong>Score:</strong>
  <%= @answer.score %>
</p>

<%= link_to 'Edit', "/events/#{@event.id}/answers/#{@answer.id}/edit" %> |
<%= link_to 'Back', "/events/#{@event.id}/answers" %>
