<p id="notice"><%= notice %></p>

<%
   solution = @answer.event.solution
   solution_text = (solution.text if solution) || ''
   solution_text = solution_text.delete("\n").delete("\r")

   answer_text = @answer.text || ''
   answer_text = answer_text.delete("\n").delete("\r")
%>

<strong>Trainee:</strong>
<div class="">
  <%= @answer.trainee %>
</div>
<hr>

<strong>Score:</strong>
<div class="">
  <%= @answer.score %>
</div>
<hr>

<strong>Answer Text:</strong>
<div class="">
  <%= answer_text %>
</div>
<hr>

<strong>Diff:</strong>
<div class="">
  <%= Diffy::Diff.new(answer_text, solution_text).to_s(:html).html_safe %>
</div>
<hr>

<%= link_to 'Edit', "/events/#{@event.id}/answers/#{@answer.id}/edit" %> |
<%= link_to 'Back', "/events/#{@event.id}/answers" %>
