<p id="notice"><%= notice %></p>

<%
   solution_text = @answer.event.solution.text.delete("\n").delete("\r")
   answer_text = @answer.text.delete("\n").delete("\r")
%>

<strong>Trainee:</strong>
<div class="">
  <%= @answer.trainee %>
</div>
<hr>

<strong>Score:</strong>
<div class="">
  <%= @answer.score %>
</div>
<hr>

<strong>Answer Text:</strong>
<div class="y">
  <%= answer_text %>
</div>
<hr>

<strong class="">Solution Text:</strong>
<div class="">
  <%= solution_text %>
</div>
<hr>

<strong>Diff:</strong>
<div class="">
  <%= Diffy::Diff.new(answer_text, solution_text).to_s(:html).html_safe %>
</div>
<hr>

<%= link_to 'Edit', "/events/#{@event.id}/answers/#{@answer.id}/edit" %> |
<%= link_to 'Back', "/events/#{@event.id}/answers" %>
