<p id="notice"><%= notice %></p>

<h1>Listing Solutions</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <% if solution %>
        <tr>
          <td><%= solution.text %></td>
          <td><%= solution.provider %></td>
          <td><%= link_to 'Show', "/events/#{@event.id}/solutions/#{solution.id}" %></td>
          <td><%= link_to 'Edit', "/events/#{@event.id}/solutions/#{solution.id}/edit" %></td>
          <td><%= link_to 'Destroy', "/events/#{@event.id}/solutions/#{solution.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution', new_event_solutions_path(params[:id]) %>
