<p id="notice"><%= notice %></p>


<h1>Listing Solutions
  <%= link_to new_event_solutions_path(params[:id]) do %>
    <span class="glyphicon glyphicon-plus small"></span>
  <% end %>

  <%= link_to "/events" do %>
    <span class="glyphicon glyphicon-backward small"></span>
  <% end %>
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Text</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <% if solution %>
        <tr>
          <td><%= solution.text %></td>
          <td><%= solution.provider %></td>
          <td>
            <%= link_to "/events/#{@event.id}/solutions/#{solution.id}" do %>
              <span class="glyphicon glyphicon-zoom-in"></span>
            <% end %>
          </td>
          <td><%= link_to  "/events/#{@event.id}/solutions/#{solution.id}/edit" do %>
              <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          </td>
          <td><%= link_to "/events/#{@event.id}/solutions/#{solution.id}", method: :delete, data: { confirm: 'Are you sure?' } do%>
              <span class="glyphicon glyphicon-remove text-danger"></span>
            <% end %>
              </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
