<p id="notice"><%= notice %></p>


<h1>Listing Solutions
  <% if !@solutions || @solutions.empty? || @solutions[0].nil? %>
    <%= link_to new_event_solutions_path(params[:id]) do %>
      <span class="glyphicon glyphicon-plus btn btn-xs btn-info"></span>
    <% end %>
  <% end %>

  <%= link_to "/events" do %>
    <span class="glyphicon glyphicon-backward btn btn-xs btn-info"></span>
  <% end %>
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Text</th>
      <th>Provider</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <% if solution %>
        <tr>
          <td>
            <% if @event.is_solution_published %>
              <%= solution.text %>
            <% else %>
              <div class="text-muted bg-warning text-capitalize text-warning">Solution not published yet.</div>
            <% end %>
          </td>
          <td><%= solution.provider %></td>
          <td class="text-center">
            <% if policy(solution).update? %>
              <%= link_to  "/events/#{@event.id}/solutions/#{solution.id}/edit" do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %> |
              <%= link_to "/events/#{@event.id}/solutions/#{solution.id}", method: :delete, data: { confirm: 'Are you sure?' } do%>
                <span class="glyphicon glyphicon-remove text-danger" title="Delete"></span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
            <span class="text-muted bg-warning text-capitalize text-warning">Solution not ready yet.</span>
          </td>
          <td><span class="text-capitalize small">Guess who will be here...</span></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
