<!DOCTYPE html>
<html>
<head>
  <title>Amazing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<div class="nav text-right">
  <% if current_user %>
    <span class="glyphicon glyphicon-user"></span> <%= current_user.email %> |
    <% if current_user.is_admin %>
      <%= link_to "Create User", new_user_path %> |
    <% end %>
    <%= link_to "Edit User", edit_user_path(current_user.id) %> |
    <%= link_to :logout, method: :post do %>
      <span class="glyphicon glyphicon-log-out"></span> Logout
    <% end %>
  <% else %>

    <%= link_to :login do %>
      <span class="glyphicon glyphicon-log-in"></span> Login
    <% end %>


  <% end %>
</div>

<div class="row" style="margin-top: 10px">
  <div class="col-xs-12">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, class: "alert alert-#{name}" do %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= msg %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row" style="margin-top: 10px">
  <%= yield %>
</div>

</body>
</html>
